<p>Estás en la sección "auth-login"</p>
<br>
<form id="login-form" action="/authenticate" method="post">
    <input type="text" name="username" placeholder="Nombre de usuario">
    <br>
    <br>
    <input type="password" name="password" placeholder="Contraseña">
    <br>
    <br>
    <input type="submit" value="Iniciar sesión">
</form>
<br>
<a href="#auth/register">Ir a la sección "auth-register"</a>
