<p>auth-register template</p>
<br>
<form id="register-form" action="/api/user" method="post">
    <input type="text" name="username" placeholder="Nombre de usuario">
    <br>
    <br>
    <input type="password" name="password" placeholder="Contraseña">
    <br>
    <br>
    <input type="password" name="rpassword" placeholder="Confirma tu contraseña">
    <br>
    <br>
    <input type="text" name="email" placeholder="Correo electrónico">
    <br>
    <br>
    <input type="submit" value="Crear cuenta">
</form>
<br>
<a href="#auth/login">go to auth-login template</a>
