<p>auth-login template</p>
<br>
<form id="login-form" action="/api/user/auth/token" method="post">
    <input type="text" name="email" placeholder="Email">
    <br>
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<a href="#auth/register">go to auth-register template</a>
