<p>auth-register template</p>
<br>
<form id="register-form" action="/api/user" method="post">
    <input type="text" name="username" placeholder="Username">
    <br>
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="password" name="rpassword" placeholder="Repeat your password">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<a href="#auth/login">go to auth-login template</a>
