<div class="s15px"></div>
<h1>CREAR UNA CUENTA</h1>
<div class="s15px"></div>
<div class="auth-separator"></div>
<div class="s15px"></div>
<form id="register-form">
    <div id="username-input-container" class="auth-input-container">
        <p>Nombre de usuario</p>
        <div class="s10px"></div>
        <input type="text" name="username" maxlength="16" spellcheck="false">
    </div>
    <div class="s15px"></div>
    <div id="email-input-container" class="auth-input-container">
        <p>Correo electrónico</p>
        <div class="s10px"></div>
        <input type="text" name="email" spellcheck="false">
    </div>
    <div class="s15px"></div>
    <div id="password-input-container" class="auth-input-container">
        <p>Contraseña</p>
        <div class="s10px"></div>
        <input type="password" name="password" maxlength="16">
    </div>
    <div class="s15px"></div>
    <div id="rpassword-input-container" class="auth-input-container">
        <p>Confirma tu contraseña</p>
        <div class="s10px"></div>
        <input type="password" name="rpassword" maxlength="16">
    </div>
    <div class="s15px"></div>
    <input class="button" type="submit" value="Confirmar">
</form>
<div class="s15px"></div>
<div class="auth-separator"></div>
<div class="s15px"></div>
<p class="auth-text">¿Ya tienes una cuenta?</p>
<div class="s10px"></div>
<a class="button" href="#auth/login">Iniciar sesión</a>
<div class="s15px"></div>
