<div class="s15px"></div>
<h1>INICIAR SESIÓN</h1>
<div class="s15px"></div>
<div class="auth-separator"></div>
<div class="s15px"></div>
<form id="login-form">
    <p class="error">El nombre de usuario y la contraseña no concuerdan con ninguna cuenta de usuario</p>
    <p class="wtf">Ha ocurrido un error al intentar obtener los datos de la cuenta de usuario, por favor intenta iniciar sesión de nuevo</p>
    <div class="auth-input-container">
        <p>Nombre de usuario</p>
        <div class="s10px"></div>
        <input type="text" name="username" value="root">
    </div>
    <div class="s15px"></div>
    <div class="auth-input-container">
        <p>Contraseña</p>
        <div class="s10px"></div>
        <input type="password" name="password" value="0208212mc">
    </div>
    <div class="s15px"></div>
    <input class="button" type="submit" value="Confirmar">
</form>
<div class="s15px"></div>
<p class="centered-text">
    <a href="#auth/forgot-username">¿Olvidaste tu nombre de usuario?</a>
</p>
<div class="s10px"></div>
<p class="centered-text">
    <a href="#auth/forgot-password">¿Olvidaste tu contraseña?</a>
</p>
<div class="s15px"></div>
<div class="auth-separator"></div>
<div class="s15px"></div>
<p class="auth-text">¿No tienes una cuenta?</p>
<div class="s10px"></div>
<a class="button" href="#auth/register">Regístrate</a>
<div class="s15px"></div>
