<div id="dashboard-shop">
	<p style="color: orangered;">This is the dashboard-shop template (section of dashboard page)</p>
	<br>
	<p>The Assassin's Creed, often referred to as the Creed, was the code and guiding philosophy of the Assassin Order, upheld from at least the High Middle Ages until the modern era. It restricted unnecessary slaughter of innocents, preserved the reputation of oneself and of the Order, and was meant to create peace, not only within the world, but within the individual.</p>
	<br>
	<p>The Assassins had been handing the Creed down orally from generation to generation, ensuring that its message was delivered to and upheld by every member of the Assassin Order. Al Mualim, one of the Mentors of the Order, once remarked that "[they] are nothing if [they] do not abide by the Assassin's Creed."</p>
	<br>
	<p>In the ancient Codex of Altaïr Ibn-La'Ahad, it was stated that the Creed cannot be killed, even if all of its followers were. He went on to explain that the Creed was an idea, and even if all records of it were destroyed, it could eventually be reinvented by another.</p>
	<br>
	<a href="#dashboard/start">Go to start section</a>
</div>
