<div style="padding: 10px; background-color: lightseagreen; margin-top: 10px;">
    <p>dashboard-start template</p>
    <br>
    <a href="#dashboard/shop">go to dashboard-shop template</a>
</div>
