<div style="padding: 10px; background-color: lightseagreen; margin-top: 10px;">
    <p>dashboard-shop template</p>
    <br>
    <a href="#dashboard/start">go to dashboard-start template</a>
</div>
