#dashboard-topBar {
    background-color: rgb(16, 16, 16);
    border-bottom: 1px solid rgb(28, 28, 28);
    box-shadow: 0px 0px 5px 0px black;
    height: 60px;
}

#dashboard-chat {
    left: 10px;
}

#dashboard-chat-showButton {
}

#dashboard-community {
    right: 10px;
}

#dashboard-community-showButton {
    right: 10px;
}

#dashboard-community-content {
    display: none;
    height: 648px;
}

#dashboard-community-userList-general {
    padding-top: 5px;
}

.dashboard-community-userList-user {
    padding: 5px 10px;
    width: 230px;
}

.dashboard-community-userList-user:hover {
    background-color: rgb(12, 12, 12);
}

.dashboard-community-userList-user-status {
    background-color: rgb(65, 65, 65);
    border-radius: 100%;
    float: left;
    height: 8px;
    margin-top: 17px;
    width: 8px;
}

.dashboard-community-userList-user > img {
    border: 1px solid rgb(28, 28, 28);
    display: block;
    width: 40px;
    margin-left: 10px;
    float: left;
}

.dashboard-community-userList-user > span {
    float: left;
    margin: 14px 0 0 10px;
    /* font */
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    font-size: 14px;
}

.dashboard-chatAndCommunity {
    background-color: rgb(16, 16, 16);
    border-left: 1px solid rgb(28, 28, 28);
    border-right: 1px solid rgb(28, 28, 28);
    border-top: 1px solid rgb(28, 28, 28);
    bottom: 0;
    box-shadow: 0px 0px 5px 0px black;
    position: absolute;
}

.dashboard-chatAndCommunity-showButton {
    height: 40px;
    overflow: hidden;
    width: 40px;
    /* font */
    color: rgb(150, 150, 150);
    text-align: center;
}

.dashboard-chatAndCommunity-showButton > i {
    margin-top: 8px;
}
