#dashboard-community {
    background-color: rgb(15, 15, 15);
    bottom: 0;
    height: 650px;
    position: absolute;
    right: 10px;
    width: 250px;
}

.dashboard-separator {
    background-color: rgb(35, 35, 35);
    height: 1px;
    margin: 0 15px;
}

#dashboard-community-user {
    padding: 0 15px;
}

#dashboard-community-user-icon {
    border: 1px solid rgb(35, 35, 35);
    display: block;
    width: 48px;
}

#dashboard-community-user-username {
    /* font */
    color: rgb(175, 175, 175);
    font-family: sans-serif;
}

#dashboard-community-general {
}

#dashboard-community-friends {
}

#dashboard-community-blocked {
}

.dashboard-community-userlist {
    padding-top: 15px;
}

.dashboard-community-userlist-user {
    padding: 0 15px;
}

.dashboard-community-userlist-user-icon {
    display: block;
    width: 40px;
}

/**/

#dashboard > header {
    height: 75px;
    background: linear-gradient(to bottom, rgb(15, 15, 15) 0%, rgba(15, 15, 15, 0.75) 100%);
}
