* {
    -webkit-user-select: none;
    cursor: default;
}

html {
    background-image: url('/img/grid.png');
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    height: 720px;
    position: relative;
    width: 1280px;
}

#page-loader {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#page-loader p {
    bottom: 10px;
    color: rgb(175, 175, 175);
    position: absolute;
    right: 10px;
}

#page-container {
    background-color: rgb(175, 175, 175);
    padding: 10px;
}

.page {
    background-color: rgb(200, 200, 200);
}

#section-loader {
    padding: 10px;
}

#section-loader:before {
    content: 'Cargando sección...';
}

.section-container {
    background-color: rgb(225, 225, 225);
    position: relative;
}

.section {
}

.page, .section {
    display: none;
    padding: 10px;
}

/* auth page */

#auth {
}

#auth-section-container {
}

#auth-login, #auth-register {
}

/* dashboard page */

#dashboard {
}

#dashboard-section-container {
}

#dashboard-start, #dashboard-shop {
}

/* banned page */

#banned {
}
