* {
    -webkit-user-select: none;
    cursor: default;
}

html {
    background-image: url('/img/grid.png');
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    height: 720px;
    position: relative;
    width: 1280px;
}

#page-loader {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
}

#page-container {
    background-color: brown;
    padding: 10px;
}

.page {
    background-color: white;
}

#section-loader {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

#section-loader:before {
    content: 'Cargando...';
}

.section-container {
    background-color: seagreen;
    position: relative;
}

.section {
}

.page, .section {
    display: none;
    padding: 10px;
}

/* auth page */

#auth {
}

#auth-section-container {
}

#auth-login, #auth-register {
}

/* dashboard page */

#dashboard {
}

#dashboard-section-container {
}

#dashboard-start, #dashboard-shop {
}

/* banned page */

#banned {
}
