* {
    -webkit-user-select: none;
    cursor: default;
}

html {
    background-image: url('/img/grid.png');
}

body {
    background-color: white;
    height: 720px;
    position: relative;
    width: 1280px;
}

#page-loader {
    background-color: rgba(0, 0, 0, 0.75);
    color: blue;
    height: 100%;
    position: absolute;
    width: 100%;
}

#section-loader {
    background-color: rgba(0, 0, 0, 0.75);
    color: lightblue;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
