<div id="dashboard-topBar"></div>
<div id="dashboard-chat" class="dashboard-chatAndCommunity">
    <div id="dashboard-chat-showButton" class="dashboard-chatAndCommunity-showButton">
        <i class="material-icons">chat</i>
    </div>
</div>
<div id="dashboard-community" class="dashboard-chatAndCommunity">
    <div id="dashboard-community-showButton" class="dashboard-chatAndCommunity-showButton">
        <i class="material-icons">people</i>
    </div>
    <div id="dashboard-community-content">
        <ul id="dashboard-community-userList-general">
            <li class="dashboard-community-userList-user">
                <div class="dashboard-community-userList-user-status"></div>
                <img src="img/icons/1.png">
                <span>UsuarioDePrueba1</span>
                <div class="clear"></div>
            </li>
            <li class="dashboard-community-userList-user">
                <div class="dashboard-community-userList-user-status"></div>
                <img src="img/icons/1.png">
                <span>UsuarioDePrueba2</span>
                <div class="clear"></div>
            </li>
            <li class="dashboard-community-userList-user">
                <div class="dashboard-community-userList-user-status"></div>
                <img src="img/icons/1.png">
                <span>UsuarioDePrueba3</span>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
