<p>Esta es la página "dashboard"</p>
<br>
<div id="dashboard-section-container" class="section-container">
    <div id="section-loader"></div>
</div>
<br>
<!-- test -->
<style type="text/css">
    li.msg {
        font-size: 14px;
        font-family: sans-serif;
        background-color: rgb(220, 220, 220);
        line-height: 28px;
        padding-left: 10px;
    }

    li.msg:nth-child(odd) {
        background-color: rgb(200, 200, 200);
    }
</style>
<div style="margin-left: 10px; padding: 10px; background-color: white; width: 500px;">
    <p>Intento barato de chat:</p>
    <br>
    <ul id="messages" style="border: 1px solid black;">
    </ul>
    <br>
    <form id="chat">
        <input id="m" type="text" name="msg">
        <input type="submit" name="Enviar">
    </form>
</div>
<div style="
    background-color: rgb(175, 175, 175);
    bottom: 10px;
    padding: 10px;
    position: absolute;
    right: 10px;">
    <p>Información de tu cuenta:</p>
    <br>
    <p>userId: {{user.userId}}</p>
    <br>
    <p>username: {{user.username}}</p>
    <br>
    <p>email: {{user.email}}</p>
    <br>
    <p>isRoot: {{user.isRoot}}</p>
    <br>
    <p>isAdministrator: {{user.isAdministrator}}</p>
</div>
<script type="text/javascript">
    $('#chat').submit(function () {
        APP.socket.emit('chat msg', '- ' + APP.user.get('username') + ': ' + $('#m').val());

        $('#m').val('');
        return false;
    });

    APP.socket.on('chat msg', function (msg) {
        $('#messages').append($('<li class="msg">' + msg + '</li>'));
    });
</script>
<!-- < -->
