<!--
<div id="dashboard-page">
	<div id="dashboard-background"></div>
	<header id="dashboard-header">
		<p id="dashboard-header-title">TIENDA</p>
		<div id="dashboard-header-menu">
			<ul>
				<li>JUGAR</li>
				<li>TIENDA</li>
				<li>CARTAS</li>
			</ul>
		</div>
		<div id="dashboard-header-border"></div>
	</header>
	<footer id="dashboard-footer">
		<div id="dashboard-footer-border"></div>
	</footer>
</div>
-->

<section id="page-dashboard">
	<div class="page-background"></div>
	<header>
		<p id="page-dashboard-header-title">INICIO</p>
		<nav id="page-dashboard-header-menu">
			<ul>
				<li>JUGAR</li>
				<li>TIENDA</li>
				<li>CARTAS</li>
			</ul>
		</nav>
		<div id="page-dashboard-header-border"></div>
	</header>
	<footer>
		<div id="page-dashboard-footer-border"></div>
	</footer>
</section>
