<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>MyL Online</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/auth.css">
        <link rel="stylesheet" type="text/css" href="css/auth-login.css">
        <link rel="stylesheet" type="text/css" href="css/auth-forgot-username.css">
        <link rel="stylesheet" type="text/css" href="css/auth-forgot-password.css">
        <link rel="stylesheet" type="text/css" href="css/auth-register.css">
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <script src="js/libs/require/require.js"></script>
        <script>
            requirejs.config({
                baseUrl: 'js',
                urlArgs: 'bust=' + (new Date()).getTime(),
                paths: {
                    backbone: 'libs/backbone/backbone-min',
                    'backbone.stickit': 'libs/backbone/plugins/backbone.stickit',
                    hgn: 'libs/require/plugins/hgn',
                    hogan: 'libs/hogan/hogan',
                    jquery: 'libs/jquery/jquery-3.1.0.min',
                    'socket.io': 'libs/socket.io/socket.io-1.4.5',
                    text: 'libs/require/plugins/text',
                    underscore: 'libs/underscore/underscore-min'
                }
            });

            requirejs(['backbone'], function (BB) {
                BB.$(document).ready(function () {
                    requirejs(['apps/main']);
                });
            });
        </script>
    </head>
    <body>
        <div id="page-loader">
            <p>Cargando página...</p>
        </div>
        <div id="page-container"></div>
    </body>
</html>
